body {
    background: black;
    font-family: OpenSans-Light;
    margin: 0px;
}

.header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.roadmap_index {
    width: 70px;
}

.btn_connect {
    height: 45px;
    width: 180px;
    font-weight: 900;
    letter-spacing: -2px;
    padding: none !important;
    font-family: OpenSans-extraBold !important;
    /* font-size: 23px !important; */
}

#section_mint {
    height: 735px;
    /* background-image: url(/img/mint.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mint_pannel {
    width: 250px;
    background-color: #545454;
    border-radius: 40px;
    padding: 30px 30px 30px 30px;
}

.pannel-pattern {
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: black;
    border-radius: 50%;
}

.pannel-pattern.left-top {
    left: -80px;
    top: -80px;
}

.pannel-pattern.right-top {
    right: -80px;
    top: -80px;
}

.pannel-pattern.left-bottom {
    left: -80px;
    bottom: -80px;
}

.pannel-pattern.right-bottom {
    right: -80px;
    bottom: -80px;
}

.link-twitter {
    font-size: 30px;
    color: white;
}

.link-twitter:active, .link-twitter:focus, .link-twitter:hover {
    color: #ffbd59;
}


.link-discord {
    margin-left: 20px;
    font-size: 30px;
    color: white;
}

.link-discord:active, .link-discord:focus, .link-discord:hover {
    color: #ffbd59;
}




.btn_roadmap {
    color: white !important;
    font-family: OpenSans-Bold !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
    border-radius: 20px;
}

.btn_collection {
    color: white !important;
    font-family: OpenSans-Bold !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
    border-radius: 20px;
}

.btn_mint {
    width: 120px;
    height: 45px;
    font-size: 30px !important;
}

#section_clanz {   
     margin-top: 120px;
    padding: 25px 80px 90px 80px;
    /* height: 1650px; */
}

#section_clanz>.title {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.clanz_content {
    display: flex;
}

.clanz_content>.left {
    margin-right: 100px;
}

.team-member {
    display: flex;
    padding-right: 210px;
    padding-left: 210px;
    justify-content: space-between;
}



.roadmap-row {
    height: 70px;
    color: white;
    display: flex;
    align-items: center;
}



.mint-title {
    font-size: 75px;
    height: 130px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: OpenSans-ExtraBold;
}


.mint-subtitle {
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}


.contract {
    height: 160px;
}

.clanz_buttons {
    display: flex;
    margin-top: 100px;
}


#section_footer {
    padding-right: 80px;
    padding-left: 80px;
}

#section_tokenomics_00{
    display: flex;
    justify-content: center;    
    align-items: center;
}

#section_tokenomics_22 {
    margin-top: 50px;
    padding-right: 80px;
    padding-left: 80px;
    display: flex;
    justify-content: center;    
    align-items: center;
}

#section_tokenomics_11{
    padding-right: 80px;
    padding-left: 80px;
    display: flex;
}

#section_tokenomics_33 {
    display: flex;
    padding-right: 80px;
    padding-left: 80px;
}

.teamrate_explain,
.airdroprate_explain {
    width: 50%;
    margin: 20px;
}

.staking_explain,
.growth_explain
{
    width: 40%;
    margin: 20px;    
    align-items: center;
}

.middle_empty_area {
    width: 20%;
}

.right_image {
    /* background-image: url(/img/pic.png); */
    background-image: url(/img/Evo_Bullz.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.half_image_area {
    /* background-image: url(/img/pic.png); */
    background-image: url(/img/HalfDevidedCircle.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.stakingpercent_image_area {
    background-image: url(/img/80percentCircle.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.growthchat_image_area {
    background-image: url(/img/growthchat.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.rhino-item {
    height: 80px;
    align-items: center;
    display: flex;
    font-size: 40px;
    font-family: OpenSans-Bold;
}

.rhino-container {
    padding: 40px 40px;
    /* width: 654px; */
    width: 100%;
    /* height: 654px; */
    background: #5ce1e6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rhino-container>.right {
    /* width: 654px; */
    flex: 1;
    height: 100%;
}

.rhino-container>.left {

    height: 500px;
    width: 500px;
    /* min-width: 640px; */
    /* height: 100%; */
    /* width: calc(100% - 700px); */
    background-image: url(/img/website.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#section_roadmap {
    height: fit-content;
    padding: 25px 80px 90px 80px;
}

#section_roadmap>.title {
    font-size: 80px;
    height: 224px;
    color: white;
}

.content-max {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* #section_roadmap > content {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
} */

.roadmaprow{
    margin-top: 50px;
    margin-bottom: 50px;
}

.roadmaprow1{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-end;
}

.yellowpanel {
    background-color: #ff9a3d;
    border-radius: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 300px;
    width: 52%;
}

.photo_item {
    width: 186px;
    height: 186px;
    border-radius: 93px;
    background-image: url(/img/pic.png);
    background-size: cover;
    background-position: center;

}

#sectoin_team {
    padding: 0px 80px 90px 80px;
}

.roadmap_item {
    height: 45px;
    width: 70px;
    background-image: url(/img/icon_normal.png);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.roadmap_item>span {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: OpenSans-ExtraBold;
}


.roadmap_item.active {
    background-image: url(/img/icon_act.png);

}

.roadmap_item>span.active {
    top: -1px;
    left: -11px;
}


.font-regular {
    font-family: OpenSans-Light;
}

.font-semiBold {
    font-family: Opensans-SemiBold;
}

.font-extraBold {
    font-family: Opensans-ExtraBold;
}

.font-bold {
    font-family: OpenSans-Bold;
}

#qodef-page-header{
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    height: 105px;
    z-index: 100;
    margin-top: 15px;
}

#qodef-page-header-inner {
    border-bottom: 0 solid transparent;
}

#qodef-page-header-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 40px;
}

#qodef-page-header .qodef-header-logo-link {
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 105px;
    max-height: 100%;
}

#qodef-page-header .qodef-header-logo-link {
    height: 50px;
}

.qodef-header-navigation {
    height: 100%;
}

.qodef-header-standard--right #qodef-page-header-inner .qodef-header-navigation {
    margin-left: auto;
}

#qodef-page-header .qodef-widget-holder {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 24px;
    /* vertical-align: middle; */
    margin-top: 15px;
}

.qodef-header-standard--right #qodef-page-header-inner .qodef-widget-holder {
    margin-left: 50px;
}

#qodef-page-header .qodef-header-logo-link img {
    display: block;
    margin: auto 0;
    width: auto;
    max-height: 100%;
    transition: opacity .3s ease;
}

.qodef-header-navigation {
    height: 100%;
}

.qodef-header-standard--right #qodef-page-header-inner .qodef-header-navigation {
    margin-left: auto;
}

.qodef-header-navigation>ul {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    white-space: nowrap;
    list-style: none;
}

.qodef-header-navigation>ul>li:first-child {
    margin-left: 0;
}

.qodef-header-navigation>ul>li {
    height: 40%;
    margin: 0 5px;    
}

#qodef-page-header .qodef-header-logo-link {
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 105px;
    max-height: 100%;
}

#qodef-page-header .qodef-header-logo-link {
    height: 50px;
}

#qodef-page-header .qodef-header-logo-link img {
    display: block;
    margin: auto 0;
    width: auto;
    max-height: 100%;
    transition: opacity .3s ease;
}

#qodef-page-header .qodef-widget-holder {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 24px;
    /* vertical-align: middle; */
    margin-top: 15px;
}

.qodef-header-standard--right #qodef-page-header-inner .qodef-widget-holder {
    margin-left: 50px;
}

.widget.widget_gracey_core_icon {
    display: inline-block;
    line-height: 1;
}

#qodef-page-header .qodef-widget-holder .widget {
    margin: 0 12px;
}

#qodef-page-header-inner.qodef-skin--light nav>ul>li>a, .qodef-custom-header-layout.qodef-skin--light nav>ul>li>a {
    font-family: "Aldrich", Sans-serif !important;
    /* color: #1906d2 !important; */
    height: 30%;
    padding: 15px 10px 10px 10px;
    background: rgba(0,255,255,0.1);
    border-radius: 5px;
    text-decoration: none !important;
    font-size: 11px;
}

#qodef-page-header-inner.qodef-skin--light nav>ul>li.current-menu-ancestor>a, #qodef-page-header-inner.qodef-skin--light nav>ul>li.current-menu-item>a, .qodef-custom-header-layout.qodef-skin--light nav>ul>li.current-menu-ancestor>a, .qodef-custom-header-layout.qodef-skin--light nav>ul>li.current-menu-item>a {
    color: #fff!important;
}

.qodef-mobile-header--standard #qodef-page-mobile-header {
    background-color: rgba(0,0,0,0.29);
}

#qodef-page-mobile-header {
    position: relative;
    display: none;
    height: 70px;
    z-index: 100;
}

#qodef-page-mobile-header-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 40px;
}

.qodef-mobile-header--standard #qodef-page-mobile-header-inner .qodef-mobile-header-logo-link {
    margin-right: auto;
}

#qodef-page-mobile-header .qodef-mobile-header-logo-link {
    position: relative;
    display: flex;
    align-items: center;
    height: 70px;
    max-height: 100%;
}

#qodef-page-mobile-header .qodef-mobile-header-logo-link img {
    display: block;
    margin: auto;
    width: auto;
    max-height: 100%;
    transition: opacity .3s ease;
}

.qodef-opener-icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}

.qodef-mobile-header-opener {
    font-size: 20px;
    margin-left: 20px;
}

.qodef-opener-icon .qodef-m-icon {
    position: relative;
    visibility: visible;
}

.qodef-opener-icon.qodef-source--predefined .qodef-m-lines {
    position: relative;
    display: block;
    width: 35px;
    height: 30px;
    transition: transform .4s cubic-bezier(.39,.1,0,.98);
}

.qodef-opener-icon.qodef-source--predefined .qodef-m-line {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: currentColor;
    transition: top .4s cubic-bezier(.39,.1,0,.98),transform .4s cubic-bezier(.39,.1,0,.98);
}

.qodef-opener-icon.qodef-source--predefined .qodef-m-line.qodef--1 {
    top: 6px;    color: #f78b38;
}

.qodef-opener-icon.qodef-source--predefined .qodef-m-line.qodef--2 {
    top: 18px;    color: #f78b38;
}

.qodef-opener-icon .qodef-m-icon.qodef--close {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

.qodef-mobile-header-navigation {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    max-height: calc(100vh - 70px);
    background-color: #fff;
    border-bottom: 1px solid #000;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    z-index: 10;
}

.qodef-mobile-header-navigation>ul {
    margin: 0 auto;
    padding: 34px 0;
    list-style: none;
}

.qodef-mobile-header-navigation ul li {
    position: relative;
    margin: 6px 0;
    padding: 0;
}

.qodef-mobile-header-navigation>ul {
    margin: 0 auto;
    padding: 34px 0;
    list-style: none;
    padding-left: 20px;
}

.qodef-mobile-header-navigation ul li {
    position: relative;
    margin: 6px 0;
    padding: 0;
    color: #000;
}

.qodef-mobile-header-navigation ul li {
    color: #000 !important;
}

.qodef-mobile-header-navigation ul li a{
    color: #000 !important;
}

.elementor-7794 .elementor-element.elementor-element-1529de6:not(.elementor-motion-effects-element-type-background), .elementor-7794 .elementor-element.elementor-element-1529de6 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background: url(https://urbanfuturists.com/wp-content/uploads/2022/02/webheadbanners.jpg) 50% 50%;
    background-size: cover;
}

.elementor .elementor-background-video-container {
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    pointer-events: none;
}

.elementor .elementor-background, .elementor .elementor-background-holder, .elementor .elementor-background-video-container {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    z-index: 0;
    direction: ltr;
}

.elementor-7794 .elementor-element.elementor-element-1529de6 > .elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, #130579 100%, #34058000 0%);
    opacity: 0.02;
    mix-blend-mode: multiply;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor .elementor-background-overlay, .elementor .elementor-background-slideshow {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.marvy-snow-animtion-section {
    overflow: hidden !important;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.marvy-snow-1529de6 {
    position: absolute;
    top: -10px;
    height: 10px;
    width: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: rgb(255 255 255) 0px 0px 10px;
    opacity: 0.018;
    transform: translate(5.9925vw, -10px) scale(0.9718);
    animation: 23s linear 0s infinite normal none running fall-1529de6-1;
}

.elementor-container {
    min-height: 0px;
    z-index: 99;
    width: 100%;
    height: 100%;
    align-items: center;
    align-content: center;
    display: flex;
}

.elementor-row {
    display: flex;
    flex-wrap: wrap;
    width:100%;
}

.elementor-column.elementor-col-100, .elementor-column[data-col="100"] {
    width: 100%;
    position: relative;
    display: flex;
    min-height: 1px;
}

.elementor-column, .elementor-column-wrap {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.elementor-7794 .elementor-element.elementor-element-1529de6 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-7794 .elementor-element.elementor-element-a338f7f.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
    justify-content: center;
}

.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated>.elementor-widget-wrap {
    padding: 10px;
}

.elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap {
    display: flex;
}

.elementor-widget-wrap {
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}

.elementor-7794 .elementor-element.elementor-element-1c82ef5 {
    text-align: center;
}

.elementor-element .elementor-widget-container {
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
}

.elementor-7794 .elementor-element.elementor-element-1c82ef5 .elementor-heading-title {
    font-size: 20px;
    line-height: 26px;
}

.elementor-7794 .elementor-element.elementor-element-1c82ef5 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Aldrich", Sans-serif;
    font-weight: bold;
}

.elementor-heading-title
{
    color: white;
}

.elementor-text-editor> p> strong{
    color : white;
}

.fab {
    font-family: 'Font Awesome 5 Brands';
    font-weight: 400;    
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.elementor-widget {
    position: relative;
}

.elementor-widget-wrap>.elementor-element {
    width: 100%;
}

.elementor-7794 .elementor-element.elementor-element-22850e7 > .elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.eael-creative-button-wrapper {
    display: flex;
    justify-content: center;
}


.eael-creative-button {  
    background-color: transparent;
    background-image: linear-gradient(180deg, #7C00FF 0%, #F229F0 100%);
    color: #ffffff;
    border-radius: 10px;
    width: 222px;
    padding: 20px 10px 20px 10px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    min-width: 150px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    font-size: 16px;
    line-height: 1;
    backface-visibility: hidden;
    text-decoration: none;
}

.elementor-widget-container{    
    text-align: center;
}

.cretive-button-text{
    text-decoration: none;
}

.elementor-section.elementor-section-stretched {
    position: relative;
}

.gradient_buttons{
    display: flex !important;
    justify-content: space-around;
    padding: 30px 100px 30px 100px;
}

.gradient_buttons> button{
    width: 20% !important;
    border: #000;
    border-radius: 20px;
    height: 100px;

}

.gradient_buttons> button> .aa{
    width: 100%;
    background-color: linear-gradient(0deg, #7409A8 0%, #C810BC 100%);
}