.section-team__inner {
  max-width: 1150px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.section-team__title {
  text-align: center;
  font-style: italic;
  padding: 50px;
}

.members {
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
}

.member {
  padding: 30px;
  text-align: center;
  box-sizing: border-box;
  width: 33%;
}

.member__photo {
  position: relative;
  margin: 25px auto;
  width: 100%;
  height: auto;
}

.member__link {
  text-decoration: none;
  cursor: pointer;
  font-size: 2.5em;
  position: absolute;
  bottom: 28px;
  right: 30px;
  background: rgb(129 35 159 / 46%);
  padding: 10px;
  border-radius: 15px;
  width: 50px;
}
.member__link i {
  color: white !important;
}
@media only screen and (max-width: 992px) {
  .section-team__title {
    font-size: 2.8em;
  }
  .members {
    text-align: center;
    flex-direction: column;
  }

  .member {
    padding: 5px;
    width: 60%;
  }

  .member__link {
    text-decoration: none;
    cursor: pointer;
    font-size: 2.5em;
  }

  .section-team__inner {
    padding: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .member__photo {
    width: auto;
    height: auto;
  }

  .member__photo img {
    width: 100%;
    margin: 25px auto;
  }

  .member__link {
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
}